# Docs writers ownership by default
* @auth0/project-docs-writers-codeowner

# Docs Management ownership for code, config, and related docs
/ui                   @auth0/project-docs-management-codeowner
/main/ui              @auth0/project-docs-management-codeowner
/universal-components @auth0/project-docs-management-codeowner
/scripts              @auth0/project-docs-management-codeowner
/main/docs/scripts    @auth0/project-docs-management-codeowner
snippets/**/*.jsx     @auth0/project-docs-management-codeowner
**/package.json       @auth0/project-docs-management-codeowner
**/package-lock.json  @auth0/project-docs-management-codeowner
**/CLAUDE.md          @auth0/project-docs-management-codeowner

# Docs Management ownership for generated API & Schema references
/main/docs/api/management           @auth0/project-docs-management-codeowner
/main/docs/api/myaccount            @auth0/project-docs-management-codeowner
/main/docs/api/myorganization       @auth0/project-docs-management-codeowner
/main/docs/oas                      @auth0/project-docs-management-codeowner
/main/docs/events                   @auth0/project-docs-management-codeowner
/main/docs/tenant-logs              @auth0/project-docs-management-codeowner
/main/docs/actions/reference        @auth0/project-docs-management-codeowner
/main/config/navigation/generated   @auth0/project-docs-management-codeowner

# Translations will be generated; for now, share ownership
/main/docs/fr-ca @auth0/project-docs-writers-codeowner @auth0/project-docs-management-codeowner
/main/docs/ja-jp @auth0/project-docs-writers-codeowner @auth0/project-docs-management-codeowner

# Shared ownership for shared config files
.github         @auth0/project-docs-writers-codeowner @auth0/project-docs-management-codeowner
.gitignore      @auth0/project-docs-writers-codeowner @auth0/project-docs-management-codeowner
**/docs.json    @auth0/project-docs-writers-codeowner @auth0/project-docs-management-codeowner
