* @auth0/project-docs-writers-codeowners

.github @auth0/project-docs-writers-codeowners @auth0/project-docs-management-codeowners
.gitignore @auth0/project-docs-writers-codeowners @auth0/project-docs-management-codeowners

main/docs @auth0/project-docs-writers-codeowners

main/docs/api.mdx @auth0/project-docs-management-codeowners
main/docs/api @auth0/project-docs-management-codeowners
main/docs/fr-ca/api @auth0/project-docs-management-codeowners
main/docs/ja-jp/api @auth0/project-docs-management-codeowners

main/snippets @auth0/project-docs-management-codeowners
main/ui @auth0/project-docs-management-codeowners
main @auth0/project-docs-management-codeowners
ui @auth0/project-docs-management-codeowners

package.json @auth0/project-docs-management-codeowners
package-lock.json @auth0/project-docs-management-codeowners
