# Central configuration for link checking with Lychee for consistency between
# local runs and CI.

# See Lychee docs for more config info: https://lychee.cli.rs/guides/config/

format = "detailed"        # Default output format is compact, so show more info
verbose = "error"          # List additional information in output about errors
no_progress = true         # Hide progress bar
include_fragments = true   # Check anchor links
include_verbatim = false   # Don't check links inside code blocks
exclude_all_private = true # Exclude link local, loopback, and private IPs.

# Cache only successful results to avoid re-checking valid links.
# TODO: Update GitHub Action to use the cache
cache = true
cache_exclude_status = "300.."

# Set a root dir so Lychee can resolve relative links to URIs, even though we
# exclude relative links in the actual check.
root_dir = './'

exclude = [
    # Exclude root-relative links because Mintlify checks them.
    '^file://.*',

    # Exclude Auth0 sites that require interactive login or authentication.
    '^https://manage\.auth0\.com/',
    '^https://dashboard\.fga\.dev',
    '^https://accounts\.auth0\.com',
    '^https://oktawiki\.atlassian\.net/',
    '^https://partners\.marketplace\.auth0\.com',

    # Exclude other sites that require interactive login.
    '^https://admin\.microsoft\.com',
    '^https://app\.mailjet\.com',
    '^https://(console|portal)\.aws\.amazon\.com',
    '^https://portal\.azure\.com',
    '^https://my\.sailthru\.com',
    '^https://login\.constantcontact\.com',

    # Exclude npmjs because they aggressively 403 anything bot-shaped.
    '^https://www\.npmjs\.(com|org)',

    # Exclude schema namespaces.
    '^http://schemas\.xmlsoap\.org',
    '^https://aws\.amazon\.com/SAML/Attributes',


    # Exclude anchor links on pages that either load dynamically or use anchors
    # in URLs in strange ways that don't correspond to page anchors.

    # Our own dynamically-rendered API docs.
    '^https://auth0\.com/docs(?:/(fr-ca|ja-jp))?/api/authentication.*#',
    '^https://auth0\.com/docs(?:/(fr-ca|ja-jp))?/api/management/v2.*#',
    # Dynamic docs
    '^https://developer.adobe.com/marketo-apis/api/.*/#',
    '^https://developer.apple.com/documentation/.*#',
    '^https://developers.facebook.com/docs/.*#',
    # GitHub line highlighting is dynamic.
    '^https://github\.com/.*#L[0-9]+',
    # canirequire uses the anchor to hold the search term.
    '^https://auth0-extensions\.github\.io/canirequire/#',
    # Alterian uses anchors to separate pages...?
    '^https://cm.help.alterian.com/.*#',

    # Exclude non-resolving links in components (e.g. TokenVaultConfigBlock)
    # because Lychee doesn't recognize the component to skip the check.
    # TODO: Look into file preprocessing to remove links in components.
    '^https://graph\.microsoft\.com',
    '^https://auth\.snapchat\.com'
]
