@import '@auth0/universal-components-react/styles';

@layer base {
  .uc-preview-hide-back-button > button:first-child {
    display: none !important;
  }

  .uc-member-detail-preview :is(h1, h2, h3, h4, p) { margin: 0 !important; }
}

.uc-invitation-table :is(th, td):nth-child(1) { width: 13% !important; min-width: 13% !important; max-width: 13% !important; }
.uc-invitation-table :is(th, td):nth-child(2) { width: 14% !important; min-width: 14% !important; max-width: 14% !important; }
.uc-invitation-table :is(th, td):is(:nth-child(3), :nth-child(4)) { width: 25% !important; min-width: 25% !important; max-width: 25% !important; }
.uc-invitation-table :is(th, td):nth-child(5) { width: 16% !important; min-width: 16% !important; max-width: 16% !important; }
.uc-invitation-table th:nth-child(5) { white-space: nowrap !important; }
.uc-invitation-table td > span.text-primary { display: block !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; }

[data-slot='stepper-title'] {
  margin: 0 !important;
}

/*
 * Radix DropdownMenu (modal=true) and combobox (aria-expanded="true"]
 * was causing layout shift, applied overflow:unset to remove overflow
 */
body:has([data-radix-menu-content]),
body:has(button[role='combobox'][aria-expanded='true']),
body:has([data-uc-component] [data-slot='dialog-content']) {
  overflow: unset !important;
}

[data-uc-component] [data-slot='dialog-overlay'] {
  z-index: 9999 !important;
}
[data-uc-component] [data-slot='dialog-content'] {
  z-index: 10000 !important;
}
