# Cache link check results on each commit to main.

name: Lychee Cache Update

on:
  push:
    branches: [main]

jobs:
  lychee-cache-update:
    name: Lychee Link Checking
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Restore Lychee cache
      id: restore-cache
      uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: .lycheecache
        key: cache-lychee-${{ github.event.push.before }}
        restore-keys: cache-lychee-

    - name: Run Lychee
      uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
      with:
        format: markdown
        jobSummary: true
        args: >
          -c lychee.toml --root-dir "$(pwd)" **/*.mdx

    - name: Update Lychee cache
      uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: .lycheecache
        key: cache-lychee-${{ github.event.push.after }}
